# pygit2 & PyGithub are specified specifically because of an ssl package error.
pygit2==1.10.1 
PyGithub==1.56

#eth-ape @ git+https://github.com/ApeWorX/ape.git#egg=eth-ape
eth-ape==0.6.6

ape-hardhat
pytest

terminaltables==3.1.10